body
{
    font-family: ‘Tahoma’, ‘Geneva’, sans-serif;
    background: slategrey;
    padding-top: 50px;
}
.well
{
    position: absolute;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
    left: 32%;
    right: 32%;

}

h1
{
    font-size:175%;
    line-height:0.9em;
    color: black;
}

h2
{
    font-size:125%;
    line-height:1.2em;
    color:black;
    margin-bottom: 0;
}

h4
{
    color:black;
}

form
{
    color: black;
}


a:link, a:hover, a:active, a:visited
{
    text-decoration:none;
    color: deepskyblue;
}

#top-wrapper  /*Necessary to have the scene be the size that it is*/
{
    height:94.3vh;
}

#scene {    /*Necessary so that scene takes full height*/
    height: 100%;  /* Parent must declare actual pixel height; this ensures that it takes it */
    width: 100%;
    position: static;
    z-index:0;
}

#console
{
    font-family:'Courier New', 'Courier', 'Monaco', monospace;
    font-size:80%;
    height:90%;
    max-height: 120px;
}

#sidebar
{
    left: 5px;
    position: absolute;
    top: 259px;
    overflow: hidden;
    width:22%
}

#windrose
{
    right: 0;
    position: relative;
    z-index: 5;
}

#slider
{
    position: absolute;
    z-index: 5;
    bottom: 25px;
    left: 353px;
    right: 62px;
}

#playback
{
    position: absolute;
    bottom: 15px;
    left: 80px;
}

/* color picker hack */
.saturation-field {margin-right: 0 !important;}

.dg .cr.string input[type=text]
{
    color: black !important;
}

.c
{
    color: black;
}