{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>VALCEX - demo</title>
    <!-- Load stylesheets -->
    <link href="{% static "leaa/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/css/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/css/jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/css/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/css/colorpicker.css" %}" rel="stylesheet">
    <link href="{% static "leaa/css/valcex.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
</head>
<body>
    <!-- External Libraries -->
    <script src="{% static "leaa/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "leaa/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "leaa/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "leaa/js/colorpicker.js" %}"></script>
    <script src="{% static "leaa/three/three_r72.min.js" %}"></script>
    <script src="{% static "leaa/three/CombinedCamera.js" %}"></script>
    <script src="{% static "leaa/three/OrbitControls.js" %}"></script>
    <script src="{% static "leaa/three/TerrainLoader.js" %}"></script>
    <script src="{% static "leaa/three/Screenshot.js" %}"></script>
    <!-- VALCEX CORE LIBRARY -->
    <script src="{% static "leaa/core/VisManager.js" %}"></script>
    <script src="{% static "leaa/core/stations.js" %}"></script>
    <script src="{% static "leaa/core/arrows.js" %}"></script>
    <script src="{% static "leaa/core/time.js" %}"></script>
    <script src="{% static "leaa/core/timeline.js" %}"></script>
    <!-- VALCEX UI SCRIPTS (via steal.js) -->
    <script src="{% static "steal/steal.js" %}"></script>
    <script src="{% static "leaa/ui/leaa.js" %}"></script>


    <div class="modal fade" id="howtomodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closehowtomodal" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">How-To VALCEX</h4>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="howtovideo" width="1156" height="720" controls class="embed-responsive-item">
                            <source src="{% static "leaa/resources/VALCEX how-to 1080p.mp4" %}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand">VALCEX</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="modal" data-target="#howtomodal">How-To</a></li>
                    <li><a href="http://blogs.evergreen.edu/vistas/" target="_blank">VISTAS Blog</a></li>
                    <li><a href="{% url "add_terrain" %}">Add Terrain</a></li>
                    <li><a href="{% url "add_station" %}">Add Station</a></li>
                    <li><a href="{% url "add_datafile" %}">Add Data</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Welcome, {{ user.username }}</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                        <li><a href="{% url "add_user" %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% else %}
                        <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"> Log Out</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
