{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>LEA Analytics</title>
        <!-- Load stylesheets -->
    <link href="{% static "leaa/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "leaa/bootstrap/css/leaa.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
</head>
<body>
    <!-- External Libraries -->
    <script src="{% static "leaa/js/jquery-1.11.3.min.js" %}"></script>
    <!--script src="{% static "leaa/js/three.min.js" %}"></script-->
    <script src="{% static "leaa/js/three_r72.min.js" %}"></script>
    <script src="{% static "leaa/js/CombinedCamera.js" %}"></script>
    <script src="{% static "leaa/js/OrbitControls.js" %}"></script>
    <script src="{% static "leaa/js/TerrainLoader.js" %}"></script>
    <script src="{% static "leaa/js/bootstrap.min.js" %}"></script>
    <script src="{% static "steal/steal.js" %}"></script>
    <!-- Load LEAA Scripts via steal.js -->
    <script src="{% static "leaa/js/leaa.js" %}"></script>


    <div class="modal fade" id="howtomodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closehowtomodal" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">How-To VALCEX</h4>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="howtovideo" width="1156" height="720" controls class="embed-responsive-item">
                            <source src="{% static "leaa/resources/VALCEX how-to 1080p.mp4" %}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#SignInOrUploadFileForm">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">LEAA</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#howtomodal">How-To</a>
                    </li>
                </ul>
            </div>
            <div id="SignInOrUploadFileForm" class="navbar-collapse collapse">
                {% if not user.is_authenticated %}
                <form class="navbar-form navbar-right" id="signInForm">
                    <div class="form-group">
                        <input name="username" type="text" placeholder="Username or Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success" id="signInBtn">Sign In</button>
                    <span id="signInOrRegisterText">or</span>
                    <button type="button" class="btn btn-info" id="registerBtn">Register</button>
                </form>
                {% else %}
                    <div class="navbar-right navbar-btn">
                        <a>Upload File placeholder</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div id="wrapper" class="container">
		<div id="top-controls" class="row">
            <!-- Select DEM -->
            <div class="col-xs-2 col-mid-1 dropdown">
                <button  class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Select Terrain
					<span class="caret"></span>
				</button>
                <ul id="demPicker" class="dropdown-menu"></ul>
            </div>
            <!-- Select Sodar Data -->
            <div class="col-xs-2 col-mid-1 dropdown">
                <button  class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Select Data
                    <span class="caret"></span>
                </button>
                <ul id="dataPicker" class="dropdown-menu scrollable-menu">
                    <li>No Data, Load a Terrain</li>
                   <!-- Generate choosable data here dynamically -->
                </ul>
            </div>
			<div class="col-xs-6 col-md-5 well" data-toggle="tooltip"
				data-placement="right" data-original-title="Current SODAR reading displayed in the scene">
				<div id="current-timestamp-container">
					<h3 id="current-timestamp-label" class="text-center">Scene Empty - Select Terrain</h3>
				</div>
			</div>
		</div>
        <div id="top-wrapper" class="row">
            <div id="scene"></div>
        </div>
        <div id="bottom-wrapper" class="row">
			<div id="controls-1" class="btn-group-vertical" role="group" aria-label="Vertical button group1">
                <h4 class="text-center">Visualization Controls</h4>
                <button id="beginStep" type="button" class="btn btn-default" data-toggle="tooltip-std"
				        data-original-title="Set the visualization to the first SODAR reading in the file">Start From Beginning</button>
                <button id="stepForward" type="button" class="btn btn-default" data-toggle="tooltip-std"
                        data-original-title="Go to the next SODAR reading">Step Forward</button>
				<button id="stepBack" type="button" class="btn btn-default" data-toggle="tooltip-std"
				        data-original-title="Go to the previous SODAR reading" >Step Back</button>
				<button id="animateButton" type="button" class="btn btn-default" data-toggle="tooltip-std"
				        data-original-title="Turn On/Off animation" >Animate</button>
				<button id="resetButton" type="button" class="btn btn-default">Reset Scene</button>
			</div>
			<div id="controls-2" class="btn-group-vertical" role="group" aria-label="Vertical button group2">
				<h4 class="text-center">Views</h4>
				<div class="dropdown">
					<button class="btn btn-default btn-block dropdown-toggle" type="button" id="camera-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Camera Type
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="camera-toggle">
						<li><a id="setOrthographic" href="#">Orthographic</a></li>
						<li><a id="setPerspective" href="#">Perspective</a></li>
					</ul>
				</div>
                <!-- Remove contours? TODO: See if we need this anymore -->
				<button id="contourToggle" type="button" class="btn btn-default">Toggle Contours</button>
			</div>

			<div id="controls-3">
					<h4 class="text-center">Wind Vector Controls</h4>
				<form>
					Scene Height:
					<br/>
					x0.1<input id="scaleDem" type="range" min="0.1" max="1" step="0.1" value="0" onchange="updateDemScale(this.value)">x1
				</form>
				<br/>
				<form>
					Vector Length:
					<br/>
					x1<input id="scaleLength" type="range" min="1" max="10" step="1" value="0" onchange="updateSpeedScale(this.value)">x10
				</form>
				<br/>
				<form>
					Vector Height:
					<br/>
					x0.5<input id="scaleHeight" type="range" min="0.5" max="2" step="0.1" value="0" onchange="updateHeightScale(this.value)">x2
				</form>
				<br/>
				<form>
					Vector Color:
					<br/>
					<input id="colorPicker" type="color" value="#000000" onchange="updateColor(this.value)">
				</form>
			</div>
	        <div id="sidebar">
				<h4 class="text-center" data-toggle="tooltip" data-placement="top"
				data-original-title="List of all SODAR readings shown in the scene">SODAR Log</h4>
				<div id="console">
                    <ul id="sodarLog" class="scrollable-menu"></ul>
                </div>
			</div>
		</div>
    </div>
</body>
</html>
