{%  load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Testing</title>
        <style>
            #scene {
                background: #000;
                width: 400px;
                height: 300px;
            }
        </style>
    </head>
    <script type="x-shader/x-vertex" id="vertexShader">

        void main()
        {
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
        }
    </script>
    <script type="x-shader/x-fragment" id="fragmentShader">
        void main()
        {
            gl_FragColor = vec4(0.5,0.0,1.0,1.0);
        }
    </script>
    <script src="{% static "leaa/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "leaa/three/three_r72.min.js" %}"></script>

    <body>
    <script>


        // Setup Camera
        var camera = new THREE.PerspectiveCamera(45, 400/300, 0.1, 10000);
        camera.position.z = 5;
        // Setup Scene
        var scene = new THREE.Scene();

        // Initialze controls
        //orbit = new THREE.OrbitControls(camera, container);

        // Declare renderer settings
        renderer = new THREE.WebGLRenderer();
        renderer.setSize(400,300);
        //renderer.setClearColor(0xfefefe, 1);
        renderer.setClearColor(0x000000, 1);
        document.body.appendChild(renderer.domElement);
        var attributes = {
            displacement: {
                type: 'f',
                value: []
            }
        };

        var uniforms = {
            amplitude: {
                type: 'f',
                value: 0
            }
        };

        var shaderMaterial = new THREE.ShaderMaterial({
        //    uniforms: uniforms,
        //    attributes: attributes,
            vertexShader: $('#vertexShader').text(),
            fragmentShader: $('#fragmentShader').text()
        });

        //var geometry = new THREE.BufferGeometry();
        var geometry = new THREE.BoxGeometry(1,1,1);
        var vertexPositions = [
                [-1.0,-1.0,1.0],
                [1.0,-1.0,1.0],
                [1.0,1.0,1.0],
                [1.0,1.0,1.0],
                [1.0,-1.0,1.0],
                [-1.0,-1.0,1.0]
        ];

        var vertices = new Float32Array(vertexPositions.length * 3);

        for (var i = 0; i < vertexPositions.length; i++) {
            vertices[i*3]     = vertexPositions[i][0];
            vertices[i*3 + 1] = vertexPositions[i][0];
            vertices[i*3 + 2] = vertexPositions[i][0];
        }

        //geometry.addAttribute('position', new THREE.BufferAttribute(vertices, 3));
        var material = new THREE.MeshBasicMaterial({ color: 0xfff000});
        var mesh = new THREE.Mesh(geometry, material);
        //var mesh = new THREE.Mesh(geometry, shaderMaterial);
        scene.add(mesh);

        //var frame = 0;

        function update() {
            //uniforms.amplitude.value = Math.sin(frame);
            //frame += 0.1;
            requestAnimationFrame(update);

            renderer.render(scene, camera);
        }
        update();
    </script>

    </body>
</html>