{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Three Test</title>
    <!--style>
        body {margin: 0;}
        canvas {width: 100%; height: 100%;}
    </style-->
</head>
<body>
    <script src="{% static "leaa/js/three.min.js" %}"></script>
    <!--script src="{% static "leaa/js/CombinedCamera.js" %}"></script-->
    <script src="{% static "leaa/js/OrbitControls.js" %}"></script>
    <script src="{% static "leaa/js/TerrainLoader.js" %}"></script>

    <script>

        // Constants
        MAPx = 100;
        MAPy = 76;
        DEMx = 458;
        DEMy = 344;

        // Globals
        var container, camera, scene, renderer;

        init();
        animate();

        function init() {
            container = document.createElement( 'div' );
            document.body.appendChild( container );

            camera = new THREE.PerspectiveCamera(45 , window.innerWidth / window.innerHeight, 1, 2000);

            // Scene

            scene = new THREE.Scene();
             var ambient = new THREE.AmbientLight(0xffffff);
            scene.add(ambient);

            // General purpose manager for obtaining items.
            var manager = new THREE.LoadingManager();
            manager.onProgress = function( item, loaded, total) {
                console.log( item, loaded, total);
            };

            // Get initial terrain geo, to be computed with DEM data
            var terrainGeo = new THREE.PlaneBufferGeometry(MAPx, MAPy, DEMx-1, DEMy-1);
            terrainGeo.computeFaceNormals();
            terrainGeo.computeVertexNormals();

            // Get terrain texture **TODO: make this malleable for taking arbitrary relief textures.
            var texture = new THREE.Texture();
            var loader = new THREE.ImageLoader( manager );
            loader.load( 'static/leaa/resources/relief.png', function (image) {
                texture.image = image;
                texture.needsUpdate = true;
            });



            var heightMap = [];
            var loader = new THREE.TerrainLoader(manager);
            loader.load('static/leaa/resources/dem.bin', function(data) {
                for (var i = 0, l = terrainGeo.vertices.length; i < l; i++ ) {
                    terrainGeo.vertices[i].z = data[i]/65636*1215;
                    heightMap[i] = data[i];
                }
                terrain = new THREE.Mesh(terrainGeo, texture);
                scene.add(terrain);
            });
            renderer = new THREE.WebGLRenderer();
            //renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth, window.innerHeight);
            container.appendChild(renderer.domElement);
            window.addEventListener('resize',onWindowResize,false);
        }

        function onWindowResize() {
            windowHalfx = window.innerWidth / 2;
            windowHalfy = window.innerHeight / 2;
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();

            render.setSize( window.innerWidth, window.innerHeight);
        }

        function animate() {
            requestAnimationFrame(animate);
            render();
        }

        function render () {

            camera.lookAt(scene.position);
            renderer.render(scene,camera);
        }
    </script>
</body>
</html>